/3d_conv.ipynb
/INDEX_structure.2020
/LP_PDBBind.csv
/PDBbind_v2020_PP.tar.gz
/__pycache__
/dd_timesplit_working_train
/dd_timesplit_working_train_small
/mapping_plan.txt
/pdbbind2020
/playground.ipynb
/report.txt
/report.xml
/hyperparam_tuning
/pdbbind2020_reduced*